body {
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}
.wrap {
    width: 80%;
    max-width: 800px;
}
header .title a { font-size: 30px; }
header .title span { font-size: 30px; color: #555; }
header .logout a { font-size: 20px; }
.container {
    width: 100%;
    background: #f8f9fa;
}
