/* ===== fonts ============================ */
@font-face {
    font-family: 'terminus'; src: url('/static/fonts/terminus.ttf') format('truetype');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'terminus-bold'; src: url('/static/fonts/terminus-bold.ttf') format('truetype');
    font-weight: normal; font-style: normal;
}
* { 
  font-family: 'terminus', monospace;
  font-size: 20px;
}
/* ===== common.display ============================ */
.dnone{display:none!important;}
.dflex{display:flex;}
.dblock{display:block;}
/* ===== common.col/row ============================ */
.col { flex-direction: column; }
.row { flex-direction: row; }
.jc-start { justify-content: flex-start; }
.jc-center { justify-content: center; }
.jc-end { justify-content: flex-end; }
.jc-between { justify-content: space-between; }
.jc-around { justify-content: space-around; }
.ai-start { align-items: flex-start; }
.ai-center { align-items: center; }
.ai-end { align-items: flex-end; }
.fx1 { flex-grow: 1; } /* Растягивается на всю доступную ширину */
.fx2 { flex-grow: 2; } /* Занимает в 2 раза больше места, чем fx1 */
.fx0 { flex-grow: 0; } /* Не растягивается */
.fxs { flex-shrink: 1; } /* Сжимается при нехватке места */
.fxn { flex-shrink: 0; } /* Не сжимается */
.fxb { flex-basis: auto; } /* Автоматическая ширина */
.fxb100 { flex-basis: 100%; } /* Всегда 100% ширины */
/* ===== common.padding/margin ============================ */
.p10{padding:10px;} .p5{padding:5px;} .p0{padding:0;}
.pt10{padding-top:10px;} .pt5{padding-top:5px;} .pt0{padding-top:0;}
.pb10{padding-bottom:10px;} .pb5{padding-bottom:5px;} .pb0{padding-bottom:0;}
.pl10{padding-left:10px;} .pl5{padding-left:5px;} .pl0{padding-left:0;}
.pr10{padding-right:10px;} .pr5{padding-right:5px;} .pr0{padding-right:0;}
.ph10{padding-left:10px; padding-right:10px;} .ph5{padding-left:5px; padding-right:5px;} .ph0{padding-left:0px; padding-right:0px;}
.pv10{padding-top:10px; padding-bottom:10px;} .pv5{padding-top:5px; padding-bottom:5px;} .pv0{padding-top:0px; padding-bottom:0px;}
.m10{margin:10px;} .m5{margin:5px;} .m0{margin:0;}
.mt10{margin-top:10px;} .mt5{margin-top:5px;} .mt0{margin-top:0;}
.mb10{margin-bottom:10px;} .mb5{margin-bottom:5px;} .mb0{margin-bottom:0;}
.ml10{margin-left:10px;} .ml5{margin-left:5px;} .ml0{margin-left:0;}
.mr10{margin-right:10px;} .mr5{margin-right:5px;} .mr0{margin-right:0;}
.mh10{margin-left:10px; margin-right:10px;} .mh5{margin-left:5px; margin-right:5px;} .mh0{margin-left:0px; margin-right:0px;}
.mv10{margin-top:10px; margin-bottom:10px;} .mv5{margin-top:5px; margin-bottom:5px;} .mv0{margin-top:0px; margin-bottom:0px;}
/* ===== common.link ============================ */
.link { color: blue; text-decoration: underline; }
.link:visited { color: purple; }
.link:hover { color: darkblue; text-decoration: none; }
.link:active { color: red; }
/* ===== common.colors-fg/bg ============================ */
.w{color:#6c757d;}
.g{color:#288f40;}
.y{color:#e6b114;}
.r{color:#c22130;}
.b{color:#0056b3;}
.bg-w{background-color:#f8f9fa;}
.bg-g{background-color:#e6f4ea;}
.bg-y{background-color:#fff8e6;}
.bg-r{background-color:#ffeff1;}
.bg-b{background-color:#cce5ff;}
.brd-w{border:1px solid #d2d2d2;}
.brd-g{border:1px solid #72dd8b;}
.brd-y{border:1px solid #e6b114;}
.brd-r{border:1px solid #ffc0c6;}
.brd-b{border:1px solid #0056b3;}
.hov:hover { filter: brightness(95%) contrast(105%); }
/* ===== common.btn ============================ */
.btn-w, .btn-g, .btn-y, .btn-r, .btn-b {
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.btn-w { background-color: #adb5bd; color: #fff; } /* Серый фон, белый текст */
.btn-g { background-color: #3fa356; color: #fff; }
.btn-y { background-color: #e6b114; color: #fff; }
.btn-r { background-color: #dc3545; color: #fff; }
.btn-b { background-color: #0056b3; color: #fff; } /* Темно-синий фон, белый текст */
.btn-w:hover { background-color: #868e96; } /* Чуть темнее при наведении */
.btn-g:hover { background-color: #42af5b; }
.btn-y:hover { background-color: #ffbf00; }
.btn-r:hover { background-color: #c82333; }
.btn-b:hover { background-color: #003d80; } /* Темнее при наведении */
.btn-w:focus, .btn-g:focus, .btn-y:focus, .btn-r:focus, .btn-b:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  filter: brightness(1.4);
}
