.option-label {
  user-select: none;
}
.option-text {
  cursor: pointer;
}
.option-input { display: none; }
.option-input:checked + label .option-text {
  background-color: #fff8e6;
  border: 1px solid #e6b114;
  color: #e6b114;
}
.submit { width: fit-content; }
.next-question { width: fit-content; }
.result-message { font-weight: bold; }
