.estimation.F { background-color: #ffeff1; color: #dc3545; }
.estimation.D { background-color: #fff8e6; color: #e6b114; }
.estimation.C { background-color: #e6f4ea; color: #3fa356; }
.estimation.B { background-color: #cce5ff; color: #0056b3; }
.estimation.A { background-color: #adb5bd; color: #000; }
.option-label {
  user-select: none;
}
.option-text {
  cursor: pointer;
}
.option-input { display: none; }
.option-input:checked + label .option-text {
  background-color: #fff8e6;
  border: 1px solid #e6b114;
  color: #e6b114;
}
.submit { width: fit-content; }
.next-question { width: fit-content; }
.result-message { font-weight: bold; }
