.estimation.F { background-color: #ffeff1; color: #dc3545; }
.estimation.D { background-color: #fff8e6; color: #e6b114; }
.estimation.C { background-color: #e6f4ea; color: #3fa356; }
.estimation.B { background-color: #cce5ff; color: #0056b3; }
.estimation.A { background-color: #adb5bd; color: #000000; }

.question-text {
  background: #f4f4f4;
  border-radius: 5px;
  white-space: pre-wrap;
  overflow-x: auto;
}
.blank {}
.filled {}

.form-input { border: none; }
.form-input:focus-visible { outline: none; }
.form-btn-back, .form-btn-next, .form-btn-submit, .form-btn-next-question { width: fit-content; }
.msg-result { font-weight: bold; }
.msg-empty { font-weight: bold; }
