.question-text {
  background: #f4f4f4;
  border-radius: 5px;
  white-space: pre-wrap;
  overflow-x: auto;
}
.blank {}
.filled {}

.form-input { border: none; }
.form-input:focus-visible { outline: none; }
.form-btn-back, .form-btn-next, .form-btn-submit, .form-btn-next-question { width: fit-content; }
.msg-result { font-weight: bold; }
.msg-empty { font-weight: bold; }
