.estimation.F { background-color: #ffeff1; color: #dc3545; }
.estimation.D { background-color: #fff8e6; color: #e6b114; }
.estimation.C { background-color: #e6f4ea; color: #3fa356; }
.estimation.B { background-color: #cce5ff; color: #0056b3; }
.estimation.A { background-color: #adb5bd; color: #000; }
.submit, .next-question, .back-question { width: fit-content; }

.question-block {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow-x: auto;
}
.blank { /* Пустые пропуски */ }
.filled { }

.q-fill-input { border: none; }
.q-fill-input:focus-visible { outline: none; }
.result-message {
    font-weight: bold;
    color: #dc3545;
    display: none;
}
