.form-input:focus-visible {
  outline: none;
  border: 1px solid inherit;
}
.form-btn-submit, .form-btn-next-question { width: fit-content; }
.msg-result { font-weight: bold; }
.msg-empty { font-weight: bold; }
