<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Default Title{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/helpers.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
</head>
<body class='dflex p0 m0'>
  <div class='wrap dflex col p10'>
    {% include 'components/messages.html' %}
    <header class="dflex row jc-between ai-center">
      <div class="title dflex p5">{% block header %}Header{% endblock %}</div>
      {% if page not in ['login', 'register'] %}
        <div class="logout">
          <a href="{{ url_for('auth.logout') }}" class="logout-btn ai-end pb5">Logout</a>
        </div>
      {% endif %}
    </header>
    <main class='container p5'>
      {% block content %}{% endblock %}
    </main>
  </div>
  <script type='module' src="{{ url_for('static', filename='js/'+page+'.js') }}"></script>
  {% if page in ['q_choice', 'q_input', 'q_fill'] %}
    <script type="module" src="{{ url_for('static', filename='js/suspicious.js') }}"></script>
  {% endif %}
</body>
</html>
