{% extends 'base.html' %}
{% block title %}Main Menu{% endblock %}
{% block header %}
  <span>MainMenu<span>
{% endblock %}
{% block content %}
<section class="topics">
  <table>
    <thead>
      <tr>
        <th class="p5">Topic</th>
        <th class="p5">Stats and Progress</th>
      </tr>
    </thead>
    <tbody>
      {% for tid, tname in topics.items() %}
      <tr>
        <td class='topic_name p5'><a href="{{ url_for('index.topic', tid=tid|int) }}">{{ tid }}.{{ tname }}</a></td>
        <td class='topic_stats p5'>
          {% set stat = stats | selectattr("topic_id", "equalto", tid) | first %}
          <div class='stats dflex row ai-center jc-between'>
            <div class="stats-left dflex row">
              {% for grade in ['F', 'D', 'C', 'B', 'A', 'S1', 'S2', 'S3', 'N'] %}
                <span class="stat p5 {{ grade }}">{{ grade }}:{{ stat[grade] }}</span>
              {% endfor %}
            </div>
            <div class="stats-right dflex row">
              <span class="total p5">{{ stat.in_progress }}/{{ stat.total }}</span>
              <span class="suspicious p5">?:{{ stats.suspicious }}</span>
            </div>
          </div>
          <div class="progress-bar">
            {% set total = stat.total if stat.total else 1 %}
            {% for grade in ['F', 'D', 'C', 'B', 'A', 'S1', 'S2', 'S3', 'N'] %}
              <div class="sub-progress {{ grade }}" style="width: {{ (stat[grade] / total * 100) if total else 0 }}%;"></div>
            {% endfor %}
          </div>
        </td>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
