{% extends 'layouts/base.html' %}
{% block title %}Main Menu{% endblock %}
{% block header %}Main Menu{% endblock %}
{% block content %}
<div class="container">
  {% include 'layouts/messages.html' %}
  <section class="topics">
    <h3>Topics</h3>
    <table>
      <thead>
        <tr>
          <th>Topic</th>
          <th>stats & Progress</th>
        </tr>
      </thead>
      <tbody>
        {% for tid, tname in topics.items() %}
        <tr>
          <td><a href="{{ url_for('index.choose_topic', tid=tid) }}">{{ tid }}.{{ tname }}</a></td>
          <td>
            {% set stat = stats | selectattr("topic_id", "equalto", tid) | first %}
            {% if stat %}
              <div>
                <div class="stats">
                  <span class="grade F">F: {{ stat.f }}</span>
                  <span class="grade D">D: {{ stat.d }}</span>
                  <span class="grade C">C: {{ stat.c }}</span>
                  <span class="grade B">B: {{ stat.b }}</span>
                  <span class="grade A">A: {{ stat.a }}</span>
                </div>
                <div class="progress">
                  <span class="progress">{{ stat.in_progress }}/100</span>
                </div>
              </div>
              <div class="progress-bar">
                <div class="progress" style="width: {{ stat.in_progress }}%;"></div>
              </div>
            {% else %}
              <span>No stats available</span>
            {% endif %}
          </td>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
