{% extends 'base.html' %}
{% block title %}Q-Choose{% endblock %}
{% block header %}
  <a href='{{ url_for('index.index') }}'>MainMenu</a><span>/{{ tid }}.{{ tname }}/Q-Choose</span>
{% endblock %}
{% block content %}
<section class='q_choose'>
  {% include 'components/q_header.html' %}
  <p class='question-block m0'>
    <strong class='b bg-b mr5'>Q:</strong>
    <span id='question-text'>{{ question.question }}<span>
  </p>
  <form id='question-form' class='question-form dflex col pt10 pb5'
    autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false'
    action='{{ url_for("index.q_choose", tid=tid, qid=question.id) }}' method='post'>
    <div class='options'>
      {% set vim_keys = ['s', 'd', 'f', 'g', 'x', 'c', 'v', 'b', 'j', 'k'] %}
      {% for option in question.options %}
        {% set vim_shortcut = vim_keys[loop.index - 1] if loop.index - 1 < vim_keys|length else '' %}
        {% set shortcut = loop.index if loop.index < 10 else ('asdfghjkl'[loop.index - 10] if loop.index - 10 < 9 else '') %}
        <input class='option-input' type='checkbox' id='option{{ loop.index }}' name='answer' value='{{ option }}'>
        <label for='option{{ loop.index }}' class='option-label m0 m5 dflex row ai-center jc-start'>
          <span class='shortcut-key m5 r'>{{ shortcut }}.{{ vim_shortcut }}:</span>
          <span class='option-text fx1 m5 p5 bg-w brd-w hov'>{{ option }}</span>
        </label>
      {% endfor %}
    </div>
    <div class='submit-section dflex row jc-start ai-center mt10'>
      <button id='form-btn-submit' class='form-btn-submit btn btn-g m5' type='submit'>Submit</button>
      <button id='form-btn-next-question' class='form-btn-next-question dnone btn m5'>Next Question</button>
      <p id='msg-result' class='msg-result dnone m0 p0 pl10'></p>
      <p id="msg-empty" class="msg-empty dnone r m0 p0 pl10">Please select at least one option.</p>
    </div>
  </form>
</section>
{% endblock %}
