{% extends 'base.html' %}
{% block title %}Q-Choose{% endblock %}
{% block header %}
  <a id='main-menu-link' href='{{ url_for('index.index') }}'>MainMenu</a><span>/{{ tdata.tid }}.{{ tdata.tname }}/Q-Choose</span>
{% endblock %}
{% block content %}
<div id='ist0' class='dnone' data-ist0="{{ ist0 }}"></div>
<section id='q_choose' class='q_choose'>
  {% include 'components/q_header.html' %}
  {% include 'components/q_suspicious_msgs.html' %}
  {% include 'components/q_hints.html' %}
  {% include 'components/q_question.html' %}
  {% include 'components/q_extra.html' %}
  {{ tdata }}
  <form id='question-form' class='question-form dflex col pt10 pb5'
    autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false'
    action='{{ url_for("index.q_choose", tid=tdata.tid, qid=question.id) }}' method='post'>
    <div class='options'>
      {% set vim_keys = ['s', 'd', 'f', 'w', 'e', 'r', '2', '3', '4', 'c'] %}
      {% for option in question.options %}
        {% set vim_shortcut = vim_keys[loop.index - 1] if loop.index - 1 < vim_keys|length else '' %}
        <input class='option-input' type='checkbox' id='option{{ loop.index }}' name='answer' value='{{ option }}'>
        <label for='option{{ loop.index }}' class='option-label m0 m5 dflex row ai-center jc-start'>
          {% if vim_shortcut %}
            <span class='shortcut-key m5 r'>{{ vim_shortcut }}:</span>
          {% endif %}
          <span class='option-text fx1 m5 p5 bg-w brd-w hov'>{{ option }}</span>
        </label>
      {% endfor %}
    </div>
    <div class='form-footer dflex row jc-between ai-center mt5'>
      <div class='submit-section dflex row jc-start ai-center mt10'>
        <button id='form-btn-submit' class='form-btn-submit btn btn-g m5 pv5 ph10' type='submit'>Submit</button>
        <button id='form-btn-next-question' class='form-btn-next-question dnone btn m5 pv5 ph10'>Next Question</button>
        <p id='msg-result' class='msg-result dnone m0 p0 pl10'></p>
        <p id="msg-empty" class="msg-empty dnone r m0 p0 pl10">Please select at least one option.</p>
      </div>
      {% include 'components/q_suspicious_form.html' %}
    </div>
  </form>
</section>
<script src="{{ url_for('static', filename='js/suspicious.js') }}"></script>
{% endblock %}
