{% extends 'layouts/base.html' %}
{% block title %}Q-Choose{% endblock %}
{% block header %}
  <a href='{{ url_for('index.index') }}'>MainMenu</a><span>/{{ tid }}.{{ tname }}/Q-Choose</span>
{% endblock %}
{% block content %}
<section class='q_choose'>
  <p class='m0'><strong>{{ q.estimation }}</strong> {{ q.points }}/{{ q.threshhold }}</p>
  <p class='m0'><strong>Q:</strong> {{ q.question }}</p>
  <form id='q-choose-form' class='q-choose-form dflex col pv10'
    autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false'
    action='{{ url_for("index.q_choose", tid=tid, qid=q.id) }}' method='post'>

    <div class='options'>
      {% set vim_keys = ['f', 'd', 's', 'a', 'g', 'j', 'k', 'l', ';', 'h'] %}
      {% for option in shuffled_options %}
        {% set vim_shortcut = vim_keys[loop.index - 1] if loop.index - 1 < vim_keys|length else '' %}
        {% set shortcut = loop.index if loop.index < 10 else ('asdfghjkl'[loop.index - 10] if loop.index - 10 < 9 else '') %}
        <input class='option-input' type='checkbox' id='option{{ loop.index }}' name='answer' value='{{ option }}'>
        <label for='option{{ loop.index }}' class='option-label m0 m5 dflex row ai-center jc-start'>
          <span class='shortcut-key m5 r'>{{ shortcut }}.{{ vim_shortcut }}:</span>
          <span class='option-text fx1 m5 p5 bg-w brd-w hov'>{{ option }}</span>
        </label>
      {% endfor %}
    </div>

    <div class='submit-section dflex row jc-start ai-center'>
      <button id='q-choose-submit' type='submit' class='submit btn btn-g m5'>Submit</button>
      <button id='next-question' class='next-question dnone btn m5'>Next Question</button>
      <p id='result-message' class='result-message dnone m0 p0 pl10'></p>
      <p id="msg-select" class="dnone result-message r m0 p0 pl10">Please select at least one option.</p>
    </div>
  </form>
</section>
{% endblock %}
