{% extends 'base.html' %}
{% block title %}Q-Fill{% endblock %}
{% block header %}
  <a id='main-menu-link' href='{{ url_for('index.index') }}'>MainMenu</a><span>/{{ tid }}.{{ tname }}/Q-Fill</span>
{% endblock %}
{% block content %}
<div id='ist0' class='dnone' data-ist0="{{ ist0 }}"></div>
<section class='q_fill'>
  {% include 'components/q_header.html' %}
  <p class='question-block dflex m0'>
    <strong class='b bg-b mr5'>Q:</strong>
    <span>Please fill in the gaps.<span>
  </p>
  <pre id='question-text' class='question-text p10 m0'>{{ question.question | safe }}</pre>
  <form id='question-form' class='question-form dflex col jc-between pv5'
        autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false'
        action='{{ url_for("index.q_fill", tid=tid, qid=question.id) }}' method='post'>
    <input id='form-input' class='form-input m0 p0'
      autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false'
      type='text' required autofocus>
    <input id="hidden-answer" name="answer" type="hidden">
    <div class='form-btns-section dflex row jc-start ai-center mt5'>
      <button id='form-btn-back' type='button' class='form-btn-back dnone btn btn-y mr5'>Back</button>
      <button id='form-btn-next' type='button' class='form-btn-next dnone btn btn-b mr5'>Next</button>
      <button id='form-btn-submit' type='submit' class='form-btn-submit dnone btn btn-g'>Submit</button>
      <button id='form-btn-next-question' class='form-btn-next-question dnone btn'>Next Question</button>
      <p id='msg-result' class='msg-result dnone m0 p0 pl10'></p>
      <p id='msg-empty' class='dnone msg-empty r m0 p0 pl10'>The input field should not be empty.</p>
    </div>
  </form>
</section>
{% endblock %}
