{% extends 'layouts/base.html' %}
{% block title %}Q-Single{% endblock %}
{% block header %}Q-Single{% endblock %}
{% block content %}
<div class="container">
  {% include 'layouts/messages.html' %}
  <section class="q_single">
    <h3>Q-Single</h3>
     
    {{ q }}

    <!-- <h1>{{ q.category_eng }}</h1> -->
    <!-- <h3>({{ q.category_ru }})</h3> -->
    <!-- <form action="/mode/pronouns" method="post"> -->
    <!--     <p>{{ q_text | safe }}</p> -->
    <!--     <button type="submit">Send</button> -->
    <!-- </form> -->
    <!-- {% if result is not none %} -->
    <!--     <p>Your answer: {{ answer }}</p> -->
    <!--     <p>{% if result %}✔ Correct!{% else %}❌ Incorrect! The correct answer is: {{ q.pronoun_clean }}{% endif %}</p> -->

  </section>
</div>
{% endblock %}
