<div class='stats-block m0'>
  <div class='stats dflex row ai-center jc-between'>
    <div class="stats-left dflex row">
      {% for grade in ['F', 'D', 'C', 'B', 'A', 'N'] %}
        <span id='stat-{{ grade }}' class="stat {% if stat.get(grade, 0) == 0 %}zero{% else %}{{ grade }}{% endif %} p5">
          {{ grade }}:{{ stat.get(grade, 0) }}
        </span>
      {% endfor %}
    </div>
    <div class="stats-right dflex row">
      <span id='total' class="total p5">{{ stat.get('in_progress', 0) }}/{{ tdata.get('total', 1) }}</span>
      <span id='suspicious' class="suspicious p5 {% if tdata.get('suspicious', 0) == 0 %}zero{% else %}found{% endif %}">
        :{{ tdata.get('suspicious', 0) }}
      </span>
    </div>
  </div>
  <div class="progress-bar dflex w100">
      {% set total = tdata.get('total', 1) %}
      {% for grade in ['F', 'D', 'C', 'B', 'A', 'N'] %}
        {% set width = (stat.get(grade, 0) / total * 100) if total else 0 %}
        <div class="sub-progress {{ grade }} {% if width == 0 %}dnone{% endif %}" 
             style="width: {{ width }}%;">
        </div>
      {% endfor %}
  </div>
</div>
<p class='estimation-block dflex m0 mt5'>
  <strong id='estimation' class='estimation {{ progress.estimation }} mr5'>{{ progress.estimation }}:</strong>
  <span id='points' class='points w'>{{ progress.points }}/{{ progress.threshold }}</span>
</p>
