<div class='stats-block m0'>
  <div class='stats dflex row ai-center jc-between'>
    <div class="stats-left dflex row">
      {% for grade in ['F', 'D', 'C', 'B', 'A', 'N'] %}
        <span id='stat-{{ grade }}' class="stat {% if stat.get(grade) == 0 %}zero{% else %}{{ grade }}{% endif %} p5">
          {{ grade }}:{{ stat.get(grade) }}
        </span>
      {% endfor %}
    </div>
    <div class="stats-right dflex row">
      <span id='total' class="total p5">{{ stat.in_progress }}/{{ tdata.total }}</span>
      <span id='suspicious' class="suspicious p5 {% if tdata.suspicious == 0 %}zero{% else %}found{% endif %}">
        S:{{ tdata.suspicious }}
      </span>
    </div>
  </div>
  <div class="progress-bar dflex w100">
      {% for grade in ['F', 'D', 'C', 'B', 'A', 'N'] %}
        {% set width = (stat.get(grade) / tdata.total * 100) %}
        <div class="sub-progress {{ grade }} {% if width == 0 %}dnone{% endif %}" style="width: {{ width }}%;"></div>
      {% endfor %}
  </div>
</div>
<p class='estimation-block dflex m0 mt5'>
  <strong id='estimation' class='estimation {{ progress.estimation }} mr5'>{{ progress.estimation }}:</strong>
  <span id='points' class='points w'>{{ progress.points }}/{{ progress.threshold }}</span>
</p>
